// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

$font-stack: 'Poppins', sans-serif;
$light: 400;
$regular: 500;
$semi-bold: 600;
$bold: 700;

// Colors
$dark: #353238;
$white: #ffffff;
$brown: #C1B4AE;
$accent: #BE5A38;


// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  letter-spacing: 0.02rem;
}

body {
  max-width: 100vw;
}