html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5%;
  background-color: $white;
  z-index: 999;
  transition: 200ms ease-out;

  a {
    color: $dark;
    text-decoration: none;
  }

  #navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    justify-content: space-between;
    font-weight: $semi-bold;

    svg {
      width: 20px;
      fill: $accent;
    }
    #nav-links a {
      margin-left: 0.5rem;
      text-shadow: 0.03rem 0.03rem 0.06rem $shadow;
    }
    #nav-links a:hover {
      color: $accent;
    }
  }
}


.scrolled {
  background-color: $dark;

  a {
    color: $white;
    text-shadow: 0.09rem 0.09rem 0.1rem $shadow;
  }
}


section {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.content {
  // TODO figure out the max width of the content !!!!!
  max-width: 100rem;
}

.accent {
  color: $accent;
}

#home {
  background-color: $white;

  #landing {
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #greeting {
      display: flex;
      flex-wrap: wrap;
      width: 70%;

      h1 {
        font-weight: bold;
        font-size: clamp(3.5rem, 8vw, 9rem);
        color: $dark;
        margin-top: 2rem;
        animation: slide 2000ms ease;
        text-shadow: 0.1rem 0.1rem 0.4rem $shadow;
      }
    }

    #introduction {
      margin-top: 5rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h2 {
        text-align: end;
        font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        color: $dark;
        animation: fade 1500ms;
        animation-fill-mode: forwards;
        font-weight: $regular;
        text-shadow: 0.05rem 0.05rem 0.09rem $shadow;
        span {
          text-shadow: 0.05rem 0.05rem 0.09rem $accent;
        }
      }
      #first {
        stroke-dasharray: 973.527099609375;
        stroke-dashoffset: 973.527099609375;
        animation: dash 1250ms ease;
        animation-delay: 1900ms;
        animation-fill-mode: forwards;
        -webkit-animation: dash 1250ms ease;
        -webkit-animation-delay: 1900ms;
        -webkit-animation-fill-mode: forwards;
        stroke-width: 0.3rem;
      }

      #second {
        stroke-dasharray: 499.4190673828125;
        stroke-dashoffset: 499.4190673828125;
        animation: dash 1000ms ease-out;
        animation-delay: 3300ms;
        animation-fill-mode: forwards;
        -webkit-animation: dash 1000ms ease-out;
        -webkit-animation-delay: 3300ms;
        -webkit-animation-fill-mode: forwards;
        stroke-width: 0.3rem;
      }

      #third {
        stroke-dasharray: 5.901379585266113;
        stroke-dashoffset: 5.901379585266113;
        animation: dash 250ms ease;
        animation-delay: 4650ms;
        animation-fill-mode: forwards;
        -webkit-animation: dash 250ms ease;
        -webkit-animation-delay: 4650ms;
        -webkit-animation-fill-mode: forwards;
        stroke-width: 0.3rem;
      }
    }

    #scroll-indicator {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      opacity: 0.5;

      #scroll-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

      }

      #mouse {
        display: flex;
        width: 1.25rem;
        height: 2.5rem;
        border: 0.125rem solid $dark;
        border-radius: 2rem;
        margin-bottom: 0.5rem;

        span {
          width: 0.5rem;
          height: 0.5rem;
          background-color: $dark;
          display: block;
          border-radius: 50%;
          margin: auto;
          animation: move-wheel 1000ms linear infinite;
        }
      }

      #arrow {
        span {
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border: 0.125rem solid transparent;
          border-right-color: $dark;
          border-bottom-color: $dark;
          transform: rotate(45deg);
          animation: arrow-down 500ms alternate infinite;
        }
      }
    }
  }
}


#work {
  background-color: $dark;

  #work-content {
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem;
    overflow: hidden;

    h1 {
      color: $white;
      font-weight: bold;
      font-size: clamp(8rem, 25vw, 30rem);
      transform: translateX(8rem);
      opacity: 20%;
    }

    h2 {
      color: $white;
    }

    .project {
      display: flex;
      flex-direction: column;
      margin: 3rem 0 3rem 0;
      padding: 0.5rem;

      h2 {
        align-self: center;
        margin-bottom: 2rem;
      }
    }

    .project-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      img {
        width: 50%;
        margin-top: 1rem;
      }

      #project-detail-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 1rem;
        margin-top: 1rem;
        background-color: rgba(28, 27, 27, 0.99);

        h3 {
          color: $white;
          font-weight: $regular;
          font-size: 1rem;
          margin: 0.7rem 0 0.7rem 0;
        }
        ul {
          list-style-position: inside;

          li {
            font-size: 0.8rem;
            color: $white;
            font-weight: $regular;
          }
        }
        #link-button {
          align-self: center;
          margin-top: 1rem;
          text-decoration: none;
          font-size: 0.8rem;
          padding: 0.5rem;
          border-radius: 0.2rem;
          font-weight: $regular;
          background-color: $accent;
          color: $white;
        }

        #link-button:hover {
          background-color: $white;
          color: $accent;
        }
      }
    }

    @media only screen and (max-width: 60rem) {
      .project-details {
        flex-direction: column;
        align-items: center;

        img {
          width: 90%;
        }
      }
    }
  }
}

#parallax-window {
  height: 100vh;
}


#about {
  display: none;
  background-color: $white;
  z-index: -2;
  position: fixed;
  top: 0;
  height: 100vh;

  #about-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding: 0.5rem;
  }

  #about-header {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    .letter {
      stroke-dasharray: 1500;
      stroke-dashoffset: 1500;
    }
  }

  #about-text-container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: $dark;
    font-size: 1.1rem;
  }

  @media only screen and (max-width: 60rem) {
    #about-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #about-header {
      width: 100%;
    }

    #about-text-container {
      width: 100%;
      margin-top: 2rem;
    }
  }
}


#contact {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0.5rem;

    h1 {
      color: $white;
      font-size: clamp(2rem, 6vw, 5rem);
      margin: 5rem 0 1rem 0;
    }

    h2 {
      display: flex;
      flex-wrap: wrap;
      color: $white;
      font-size: 1.5rem;
      font-weight: $semi-light;
      font-style: italic;
    }

    #sayHi {
      align-self: center;
      margin-top: 3rem;
      text-decoration: none;
      width: 8rem;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
      font-weight: $regular;
      background-color: $accent;
      color: $white;
    }
    #sayHi:hover {
      background-color: $white;
      color: $accent;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: $white;

  #contact-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-evenly;

    #links {
      h3 {
        margin: 0.5rem 0 0.5rem 0;
      }

      a {
        text-decoration: none;
        color: $accent;
        margin: 0 1rem 0 0;
      }

      a:hover {
        color: $dark;
      }
    }

    #sitemap {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0.5rem 0 0.5rem 0;
      }

      a {
        text-decoration: none;
        color: $accent;
      }

      a:hover {
        color: $dark;
      }
    }
  }

  #socialIcons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    margin: 5rem 0 1rem 0;
  }

  h2 {
    color: $dark;
    font-size: 1rem;
    font-weight: $light;
  }
}

// Animations

@keyframes slide {
  from {
    transform: translateX(5rem);
    opacity: 5%;
  }

  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(5rem);
    opacity: 5%;
  }

  to {
    -webkit-transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 5%;
  }

  to {
    opacity: 100%;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 5%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes work {
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@-webkit-keyframes work {
  to {
    -webkit-transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@-webkit-keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes arrow-down {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}